[Desktop Entry]
Encoding=UTF-8
Name=Link to Applied Cryptography and Encryption Class Online - Udacity
Type=Link
URL=https://www.udacity.com/course/applied-cryptography--cs387
Icon=text-html
