[Desktop Entry]
Encoding=UTF-8
Name=Link to Understanding Common Factor Attacks: An RSA-Cracking Puzzle
Type=Link
URL=http://www.loyalty.org/~schoen/rsa/
Icon=text-html
